.modal-container {
  position: absolute;
  z-index: 1e10;
  inset: 0;
}

.modal-item {
  margin: auto;
  max-width: 50%;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.modal-item.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}

.modal-item.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
